
body{
    font-family: 'Cantarel', 'Cormorant', serif;
}

div{
    border:2px solid #333;
}

p, ul{
    font-size: 1.2em;
}


/* ***** FOOTER ***** */

footer{
    font-family: 'Rokkitt', 'Poppins';
    background-color: #343a40;
    color:#f8f9fa;
}

footer a{
    color:#f8f9fa;
}

footer a:hover{
    color:#f8f9fa;
}



.container{
    max-width:1600px;
}


.boutons img{
    width:512px;
    height:288px;
}


.description img{
    width:960px;
    height:540px;
}

.img512{
    width:512px;
    height:288px;
}

/*
.boutons h2{
    text-shadow: 2px 0 0 #111, 2px 2px 0 #111, 0 2px 0 #111, -2px 2px 0 #111, -2px 0 0 #111, -2px -2px 0 #111, 0 -2px 0 #111, 2px -2px 0 #111;
}*/

.boutons h2{
    text-shadow: 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111, 0 0 2px #111;
    color:#eee
}




h4{
    color: rgba(148, 136, 30, 0.87);
}

a{
    color: #111;
}

h1{
    font-size: 15px;
    font-family: 'Cormorant SC', serif;
}

.navbar-nav{
    border: none;
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin: 10px 30px;
}
